* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    outline: none;
}

body {
    background: $dark;
    font-family: 'Quicksand', sans-serif;
    color: $light;
}

.main {
    display: grid;
    grid-template: 
    "sidebar navbar"
    "sidebar page"
    "footer footer";
    grid-template-columns: 16% auto;
    grid-template-rows: 8% 90% 5%;
    transition: all 200ms linear;
}

.expanded-main {
    grid-template-columns: 5rem auto;
}

.page-content {
    margin: 1rem;
    grid-area: page;
    height: calc(100vh - 5rem);
    overflow-x: hidden;
}